html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    background-color: #dfadd1;
    overflow: hidden;
    display: flex;

}

header {
    height: 83px;
    display: flex;
    background-color: #ec4a68;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 3px;
}

/* Place the navbar at the bottom of the page, and make it stick */
footer {
    height:95px;
    display: flex;
    background-color: #ec4a68;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}


.logo {
    height: 75%;
    margin: auto;
    text-align: center;
}


/* For a responsive layout, make use of the media snippet and increase the grid-template-columns property */

.navbar {
    overflow: hidden;
    position: fixed;
    max-width: fit-content;
    padding: 10px;
}



/* Style the links inside the navigation bar */
.navbar-icon {
    float: center;
    display: block;
    padding: 3px;
    justify-content: center;
    width: 18%;
    margin-bottom: 10px;
}

/* Change the color of links on hover */


/* Add a green background color to the active link */
.navbaricon.active {
    background-color: #ffffff;
    color: white;
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

/* AANMELDEN */

.niveau-icon-choice {
    width: 40px;
    padding: 2px;
}

/* Hide the default radio button */
/* input[type="radio"] {
    display: none;
} */
 
/* Style the label */
/* label {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('images/icons/fav_uit.png');
    background-size: cover;
} */

 
/* Style the checked state */
/* input[type="radio"]:checked + label {
    background-image: url('images/icons/fav_aan.png');
} */

/* MAKEN */
.add-picture {
    height: 40%;
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: #ec4a68;
}

.make-form {
    position: fixed;
    margin-top: 40%;
    padding: 10px;
    width: 40%;
    text-align: center;
    font-size: 20px;
}

/*
Source - https://stackoverflow.com/a
Posted by Domino
Retrieved 2025-12-10, License - CC BY-SA 4.0
*/

input:invalid:not(:focus) { background: red; }