body {
    background-color: #fff0fb;
    overflow: hidden;
    display: flex;
    stroke: none;
}

header {
    height: 83px;
    display: flex;
    background-color: #ec4a68;
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 3px;
}

/* Place the navbar at the bottom of the page, and make it stick */
footer {
    height: 82px;
    display: flex;
    background-color: #ec4a68;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
}

main {
    margin-top: 81px;
    background-color: #fff0fb;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 11px;
    padding: 9px;
    grid-template-rows: masonry;
}

.filterbutton {
    background-color: #ec4a68;
    stroke: none;
    width: 100%;
    height: fit-content;
    margin: auto;
}

.filtermenu {
    height: 55px;
    background-color: #fff0fb;
    align-content: center;
}

#filterblok {
    height: fit-content;
    width: 43%;
    background-color: #ec4a68;
    margin-right: 53%;
    margin-top: 25%;
}

#sorteerblok {
    height: fit-content;
    width: 43%;
    background-color: #ec4a68;
    margin-left: 53%;
    margin-top: 25%;
}

#startpunt-check {
    height: fit-content;
    width: 43%;
    background-color: #ec4a68;
    margin-right: 53%;
    margin-top: 25%;
}

#materiaal-check {
    height: fit-content;
    width: 43%;
    background-color: #ec4a68;
    margin-right: 53%;
    margin-top: 25%;
}

#niveau-check {
    height: fit-content;
    width: 43%;
    background-color: #ec4a68;
    margin-right: 53%;
    margin-top: 25%;
}

.logo {
    height: 87%;
    margin: auto;
    text-align: center;
}

/*contenduitlijning*/
.fotolijst {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.boxes-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: row dense;
    grid-template-rows: masonry;
}

.boxes {
    width: 45%;
    height: auto;
    grid-row: auto / span 1;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(136, 89, 89, 0.37);
    break-inside: avoid-column;
}

.boxes:nth-child(odd) {
    width: 100%;
    grid-row: auto / span 3;
    height: auto;
}

.boxes:nth-child(even) {
    width: 100%;
    grid-row: auto / span 2;
    height: auto;
}

.boxes:nth-child(4n) {
    width: 100%;
}

.boxes:nth-child(7) {
    width: 100%;
}

/* For a responsive layout, make use of the media snippet and increase the grid-template-columns property */

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Style the links inside the navigation bar */
.navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: center;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #fff0fb;
    color: #ec4a68;
}

/* Add a green background color to the active link */
.navbar a.active {
    background-color: #ffffff;
    color: white;
}

h1 {
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}